* {
    font-family: Arial, Helvetica, sans-serif;
    outline: 1px dashed lightblue;
    border-radius: 4px;
}

a {
    color: orangered;
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    /* width: 500px; */
    /* margin: 16px auto; */
    /* padding: 16px; */
}

.recipe-card {
    width: 500px;
    margin: 16px auto;
    padding: 16px;
    background-color: lightgray;
}

h1 {
    font-weight: 800;
    color: white;
    background-color: orange;
    text-align: center;
    padding: 8px;
    margin: 16px;
}

.title {
    display: flex;
}

.title h1 {
    flex: 1;
}

.menu .title {
    display: block;
    padding: 6px;
    border: 1px solid orange;
    margin: 8px auto;
    font-weight: 700;
    color: orange;
}

.menu {
    display: flex;
    text-align: center;
}

.menu-item {
    flex: 1;
    padding: 8px;
    margin: 0 16px;
    color: orange;
    background-color: whitesmoke;
}

.flex {
    display: flex;
}